[user]
	name = Tobias Magnusson
[alias]
	co = checkout
	br = branch
	ci = commit
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	rb = rebase
[push]
	default = simple
[core]
	editor = vim
[status]
	submodulesummary = true
[diff]
	submodule = log
