[alias]
	co = checkout
	br = branch
	ci = commit
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	rb = rebase
        st = status
	branch-cleanup = "!git fetch origin --prune && git checkout master && git branch --merged origin/master | grep -v '^* master$' | xargs git branch -d"
	high-score = shortlog -s -n
        fap = fetch --all --prune
        update = "!git fap && git pull && git submodule update --recursive"

[push]
	default = simple
[core]
	editor = vim
[status]
	submodulesummary = true
[diff]
	submodule = log
[init]
	templatedir = ~/.git-templates
